
html {
    width: 256px;
}

body,p {
    color: cyan;
}

input {
    margin: 4px;
}

footer {
  margin-top: 16px;
  text-align: center;
}

a {
    color: orange;
}

form {
    border: 1px solid cyan;
    box-shadow: 0px 0px 4px cyan ;
    padding: 8px;
    margin: 8px;
    font-size: 14px;
}

button {
    background-color:cyan;
    color: #000;
    border:none;
    border-radius:8px;
    box-shadow: 0px 0px 2px 2px cyan;
    width: 64px;
    margin: 8px 8px 0px 126px;
    text-align: center;
}

.wrapper {
    padding: 4px;
    box-shadow: 0px 0px 4px whitesmoke ;
}

.menu {
    padding: 8px;
}

.refresh {
    display: inline;
    font-size: 16px;
    padding: 8px 0px;
}

.util-svg {
    padding: 8px;
    height: 16px;
    width: 16px;
}

.device-wrapper, .code-wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-top: 8px;
}

.device {
    display: inline;
    font-size: 32px;
}

.icon {
    display: inline;
    margin-left: 8px;
}

.svg {
    height: 32px;
    width: 32px;
}

.code {
    font-size: 16px;
    margin-top: 8px;
}

#greeting {
    text-align: right;
}

.btn {
    background-color:cyan;
    color: #000;
    border:none;
    border-radius:8px;
    box-shadow: 0px 0px 2px 2px cyan;
    width: 64px;
    margin: 8px 8px 0px 126px;
    text-align: center;
}


